<div class="row m-4 d-flex justify-content-center">
  <div class="col justify-content-center">
    <div class="card">
      <div class="card-header">
        <h2>Pipes in Angular</h2>
      </div>
      <div class="card-body">
        <div>
          <h2>Date</h2>
          <li>{{ today | date : "dd-MM-yyyy" }}</li>
        </div>
        <div>
          <h2>Name</h2>
          <li>{{ "divya gabani" | titlecase }}</li>
        </div>
        <div>
          <h2>Currency Pipe</h2>
          <li>{{ a | currency }}</li>
          <li>{{ a | currency : "CAD" }}</li>
          <li>{{ a | currency : "CAD" : "code" }}</li>
          <li>{{ b | currency : "CAD" : "symbol" : "4.2-2" }}</li>
          <li>{{ b | currency : "CAD" : "symbol-narrow" : "4.2-2" }}</li>
          <li>{{ b | currency : "CAD" : "symbol-narrow" : "4.2-2" }}</li>
          <li>{{ b | currency : "CAD" : "symbol" : "4.2-2" : "fr" }}</li>
          <li>{{ b | currency : "CLP" }}</li>
        </div>
        <div>
          <h2>DecimalPipe</h2>
          <li>{{ pi | number }}</li>
          <li>{{ 555.689222 | number : "2.2-3" }}</li>
          <li>{{ pi | number : "4.1-5" : "fr" }}</li>
        </div>
        <div>
          <h2>PercentPipe PIPE</h2>
          <li>{{ x | percent }}</li>
          <li>{{ y | percent : "4.3-5" }}</li>
          <li>{{ y | percent : "4.3-5" : "fr" }}</li>
        </div>
        <div>
          <h2>Async</h2>
          <li>
            <div><code>observable|async</code>: Time: {{ time | async }}</div>
          </li>
        </div>
        <div>
          <h2>Custom Search</h2>
          <input [(ngModel)]="searchTerm" placeholder="Filter" />
          <ul>
            <li *ngFor="let person of people | filter : searchTerm : 'name'">
              {{ person.name }} | {{ person.age }} | {{ person.country }}
            </li>
          </ul>
        </div>
        <div>
          <div>
            <h2>Custom List</h2>
            <input [(ngModel)]="serchWords" placeholder="FilterWord" />
            <ul>
              <ng-container
                *ngFor="
                  let item of name
                    | serachWord : serchWords : 'name'
                "
              >
                <li [innerHTML]="item.name"></li>
              </ng-container>
            </ul>
          </div>
          <div>
            <h2>Paragraph</h2>
            <input
              class="m-2"
              [(ngModel)]="filterParagraph"
              placeholder="Enter Text"
            />
            <input
              [(ngModel)]="length"
              (keypress)="blockCharacter($event)"
              placeholder="Enter Length"
            />
            <input type="file" />
            <p>{{ filterParagraph | filterPipe : length }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
