<div class="row">
  <div class="col m-3">
    <app-input></app-input>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-common [details]="details" [cols]="cols"></app-common>
  </div>
</div>
<form class="justify-content-center" [formGroup]="profileForm">
  <div class="form-group">
    <label class="h5" for="firstName">First Name</label>
    <input
      type="text"
      id="firstName"
      class="form-control"
      name="firstName"
      formControlName="firstName"
      required
    />
    <app-input [lastName]="lastName"></app-input>
    <!-- <span
        class="text-danger"
        *ngIf="
          (profileFormControl['firstName'].touched &&
            profileFormControl['firstName'].pristine) ||
          (submitted && profileFormControl['firstName'].pristine)
        "
      >
        FirstName is required
      </span> -->
  </div>

  <div class="form-group">
    <label class="h5" for="username">Last Name</label>
    <input
      type="text"
      id="lastName"
      class="form-control"
      name="lastName"
      formControlName="lastName"
      required
    />
    <!-- <span
        class="text-danger"
        *ngIf="
          (profileFormControl['lastName'].touched &&
            profileFormControl['lastName'].pristine) ||
          (submitted && profileFormControl['lastName'].pristine)
        "
      >
        Last Name is required
      </span> -->
  </div>
</form>
